@model WebPostgreSQL.Models.RegistroOrdenhaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Novo Registro de Ordenha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <label>Usuário Responsável</label>
            <select name="UsuarioId" class="form-control">
                @foreach (var item in Model.ListaUsuarios)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="DataOrdenha" class="control-label"></label>
                <input asp-for="DataOrdenha" class="form-control" type="date" />
                <span asp-validation-for="DataOrdenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeLeite" class="control-label"></label>
                <input asp-for="VolumeLeite" class="form-control" step="any" />
                <span asp-validation-for="VolumeLeite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="@Url.Content("~/js/jquery.validate.pt-Br.js")"></script>
}
